.filterBar {
  width: 360px;
}

.allFiltersWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 32px;
}

.locationLabel {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6c717b;
  margin-bottom: 8px;
}

.locationInputWrapper {
  position: relative;
  width: 100%;
}

.locationInput {
  border-radius: 12px;
  padding: 18px 24px 18px 46px;
  width: 100%;
  height: 56px;
  background-color: #f7f7f7;
  border: none;
  margin-bottom: 40px;
}

.locationIcon {
  position: absolute;
  left: 16px;
  top: 30%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.locationInput::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6c717b;
}

.filtersText {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #475467;
  margin-bottom: 32px;
}

.filtersTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #101828;
  border-bottom: 1px solid #dadde1;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.filtersWrap {
  border: 1px solid #dadde1;
  border-radius: 12px;
  padding: 16px;
  width: 112px;
  height: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.filtersWrap.active {
  border-color: #e44848;
}

.filterIcon {
  width: 32px;
  height: 32px;
  margin-bottom: 8px;
}

.filtersLabel {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #101828;
}

.radioGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 32px;
}

.radioWrap {
  border: 1px solid #dadde1;
  border-radius: 12px;
  padding: 3px;
  width: 112px;
  height: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.radioWrap.active {
  border-color: #e44848;
}

.radioIcon {
  width: 32px;
  height: 32px;
  margin-bottom: 8px;
}

.radioLabel {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #101828;
}

.searchButton {
  border-radius: 200px;
  padding: 16px 60px;
  width: 166px;
  height: 56px;
  background-color: #e44848;
  transition: background 0.2s ease-in-out;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: white;
}

.searchButton:hover {
  background-color: #d84343;
}

.filtersWrap input[type="checkbox"],
.radioWrap input[type="radio"] {
  display: none;
}
