.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 64px;
  background-color: #f7f7f7;
  border-color: #f2f4f7;
  width: 1440px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  width: 136px;
  height: 15px;
  margin-right: 450px;
}

.nav {
  display: flex;
  gap: 20px;
}
