.features {
  border-radius: 10px;
  padding: 44px 52px;
  width: 631px;
  background-color: #f7f7f7;
}

.vehicleList {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.vehicleItem {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  padding: 12px 18px;
  background: #f2f4f7;
  mix-blend-mode: multiply;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #101828;
}

.icon {
  width: 24px;
  height: 24px;
}

.detailsTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #101828;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.detailsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detailsItems {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #101828;
}
