.card {
  display: flex;
  border: 1px solid #dadde1;
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  height: 368px;
  overflow: hidden;
}

.image {
  width: 292px;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 24px;
}

.details {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
}

.priceNameWrap {
  display: flex;
  justify-content: space-between;
}

.name {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: #101828;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: #101828;
}

.rating {
  display: flex;
  margin-bottom: 24px;
}

.raitingText {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #101828;
  text-decoration: underline;
}

.reviews {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #101828;
  margin-right: 16px;
  text-decoration: underline;
}

.location {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #101828;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #475467;
  margin-bottom: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 24px;
  width: 525px;
}

.amenities {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.amenities span {
  border-radius: 100px;
  padding: 12px 18px;
  width: 143px;
  height: 48px;
  background: #f2f4f7;
  text-align: center;
}

.link {
  border-radius: 200px;
  padding: 16px 40px;
  background-color: #e44848;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: white;
  height: 56px;
  width: 166px;
  text-align: center;
}
