.container {
  width: 1440px;
  height: 696px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../images/HeroImage.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: start;
  padding: 260px 64px;
}

.titleWrapper {
  margin-bottom: 40px;
}

.mainTitle {
  font-weight: 600;
  font-size: 48px;
  line-height: 67%;
  color: #f7f7f7;
  margin-bottom: 16px;
}

.title {
  color: #f7f7f7;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
}

.link {
  border-radius: 200px;
  padding: 16px 60px;
  background-color: #e44848;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: white;
}
